::ng-deep .cdk-overlay-container{
  z-index: 2000;
}

/*::ng-deep .mat-form-field.mat-input-sm {
  font-size: 12px;
  line-height: 1;
  margin-top: 4px;*/ /* optional alignment tweak */
/*}

  ::ng-deep .mat-form-field.mat-input-sm .mat-form-field-wrapper {
    padding: 0;
    height: 32px;
  }

  ::ng-deep .mat-form-field.mat-input-sm .mat-form-field-infix {
    padding: 0 8px;
    height: 30px;
    display: flex;
    align-items: center;
  }

  ::ng-deep .mat-form-field.mat-input-sm input.mat-input-element {
    font-size: 12px;
    height: 24px;
    margin: 0;
    padding: 0;
  }

  ::ng-deep .mat-form-field.mat-input-sm .mat-form-field-outline {
    border-width: 1px;
    border-radius: 0.2rem;*/ /* optional, to match Bootstrap */
  /*}*/



