<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Student</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()">
  </button>
</div>
<div class="modal-body" style="font-size: small;">
  <form [formGroup]="editForm">

    <div class="form-group">
      <label for="FirstName" class="col-form-label required">First Name</label>
      <input formControlName="FirstName"
             id="FirstName"
             type="text"
             class="form-control form-control-sm" placeholder="Enter a First Name">
      <div *ngIf="f['FirstName'].touched && f['FirstName'].invalid" class="alert alert-danger">
        <div *ngIf="f['FirstName'].errors && f['FirstName'].errors['required']">First Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="LastName" class="col-form-label required">Last Name</label>
      <input formControlName="LastName"
             id="LastName"
             type="text"
             class="form-control form-control-sm" placeholder="Enter a Last Name">
      <div *ngIf="f['LastName'].touched && f['LastName'].invalid" class="alert alert-danger">
        <div *ngIf="f['LastName'].errors && f['LastName'].errors['required']">Last Name is required.</div>
      </div>
    </div>
    <div class="form-group">

      <div class="row">
        <div class="col">
          <label for="Mobile" class="col-form-label">Mobile</label>
          <ngx-intl-tel-input [cssClass]="'form-control form-control-sm'"
                              [preferredCountries]="preferredCountries"
                              [enableAutoCountrySelect]="true"
                              [enablePlaceholder]="true"
                              [searchCountryFlag]="true"
                              [searchCountryField]="[SearchCountryField.Iso2,SearchCountryField.Name]"
                              [selectFirstCountry]="false"
                              [selectedCountryISO]="CountryISO.SriLanka"
                              [maxLength]="15"
                              [phoneValidation]="true"
                              [separateDialCode]="true"
                              [numberFormat]="PhoneNumberFormat.National"
                              name="Mobile"
                              formControlName="Mobile">
          </ngx-intl-tel-input>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="Address" class="col-form-label required">NIC</label>
            <input formControlName="NIC"
                   id="NIC"
                   type="text"
                   class="form-control form-control-sm" placeholder="Enter a NIC">
            <div *ngIf="f['NIC'].touched && f['NIC'].invalid" class="alert alert-danger">
              <div *ngIf="f['NIC'].errors && f['NIC'].errors['required']">NIC is required.</div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="form-group">
      <label for="Address" class="col-form-label">Address</label>
      <input formControlName="Address"
             id="Address"
             type="text"
             class="form-control form-control-sm" placeholder="Enter a Address">

    </div>

    <div class="form-group">
      <label for="Email" class="col-form-label">Email</label>
      <input formControlName="Email"
             id="Email"
             type="text"
             class="form-control form-control-sm" placeholder="Enter a Email">

    </div>
    <div class="form-group">
      <label for="DateOfBirth" class="col-form-label required">Date Of Birth</label>
      <div class="input-group mb-3">
        <input matInput formControlName="DateOfBirth" class="form-control form-control-sm" placeholder="MM/DD/YYYY" [matDatepicker]="picker" id="DateOfBirth" (focus)="picker.open()" [placeholder]="" (dateInput)="FromOnChange($event.value)">
        <mat-datepicker #picker></mat-datepicker>
        <span class="input-group-text">
          <i class="fa-regular fa-calendar-days" (click)="picker.open()"></i>
        </span>
      </div>
      <div *ngIf="f['DateOfBirth'].touched && f['DateOfBirth'].invalid" class="alert alert-danger">
        <div *ngIf="f['DateOfBirth'].errors && f['DateOfBirth'].errors['required']">Date Of Birth is required.</div>
      </div>

    </div>
    <div class="form-group">
      <label for="Email" class="col-form-label">Profile Image</label>
      <file-pond class="avatar cursor" #myPond
                 [options]="pondOptions"
                 [files]="pondFiles"
                 (onaddfile)="pondHandleAddFile($event)"
                 (onremovefile)="pondHandleRemoveFile($event)">
      </file-pond>

    </div>

  </form>
</div>
<div class="modal-footer d-flex justify-content-between">

  <div class="h6">
    All fields marked with an asterisk (*) are required
  </div>
  <div>
    <button class="btn btn-outline-primary btn-sm me-1" [disabled]="editForm.invalid" type="button" (click)="save()">Save</button>
    <button class="btn btn-outline-secondary btn-sm" type="button" (click)="close()">Close</button>
  </div>

</div>




